@model IEnumerable<Volunteer>

@{
    ViewBag.Title = "Role";
}

<h2>Volnteers in this role</h2>

@foreach (var volunteer in Model)
{
    <a href="/Volunteer/Details/@volunteer.Id">@volunteer.FirstName &nbsp; @volunteer.LastName</a>
}


