@if (ViewBag.IsEventFull != null && ViewBag.IsEventFull)
{ 
    <div id="event-full-banner">
        <span>Due to overwhelming support, GiveCamp UK is fully booked. You can still be added
            to the shortlist and we will let you know when a spot becomes available.</span>
    </div>
}