@if (ViewBag.IsEventFull != null && ViewBag.IsEventFull)
{ 
    <div id="event-full-banner">
        <span>Due to overwhelming support, GiveCamp UK has filled its quota of technical volunteers. You can be added
            to the shortlist and we will let you know when a spot is available.</span>
    </div>
}