@model GiveCampStarterKit.Website.Models.Charity.SignUpViewModel
@{
    ViewBag.Title = "SignUp";
    ViewBag.PageId = "charity-sign-up";
}

<h2>Sign Up Your Charity</h2>

@using (Html.BeginForm()) {

    @Html.EditorForModel()

    <input type="submit" value="Register" />
}