<h2>Information For Volunteers</h2>

<p>Volunteering for a GiveCamp event is an opportunity for you to use your skills to assist non-profit organizations reach their full potential.</p><br/>
<p>It is also an opportunity for you to grow as a professional, work with different people, be a mentor or be mentored. Please review the <a href="/Home/faq">FAQ</a> for more information.</p><br/>

<p><a href="/Volunteer/SignUp">Sign up to be a volunteer</a></p>