<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="structuremap" version="2.6.1.0" />
  <package id="EFCodeFirst" version="0.8" />
  <package id="Rx-Core" version="1.0.2856.0" />
  <package id="Rx-Main" version="1.0.2856.0" />
  <package id="Simple.Data.Core" version="0.5.6.0" />
  <package id="Simple.Data.SqlServer" version="0.5.6.0" />
  <package id="Simple.Data.Ado" version="0.5.6.0" />
</packages>