html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body{font:0.75em Arial,Helvetica,Geneva,sans-serif;color:#333333;background:black url("../images/bgrd_main_site.jpg") no-repeat top center;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input.text 
  { 
  padding: 3px; 
  border: 1px solid #999999;     
}



/*
Blue - 007DB0
Green 66B661
Gray - 5E5E5E
Alt-Blue - 4288C9
Accent Orange - F15739
*/

p, li, td
{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	margin: 10px 0 10px 0;
}

label { font-family: Helvetica, Verdana, Sans-Serif; font-size: .9em; }

h2
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px 0 20px 0;
	color: #65B561;
}

h3
{
	font-family: Georgia, Times New Roman, Serif;
	font-weight: bold;
	margin: 15px 0 5px 0;
}

ul li { list-style-type: disc; margin: 0 0 0 25px; }

table thead tr th { background-color: #999; border: solid 1px #CCC; color: #FFF; padding: 5px; }
table tbody tr td { border: solid 1px #CCC; font-size: .9em; padding: 5px; }

#siteWrapper 
{
	width: 960px;
	margin: 0 auto 0 auto;
}

#header
{
	background-color: #000;
	background-image: url(/content/images/GiveCamp_FINAL_small.png);
	background-position: 20px 20px;
	background-repeat: no-repeat;
	border-bottom: solid 2px #5E5E5E;
	padding: 50px 0 0 0;
	position: relative;
}

#header a
{
	text-decoration: none;
}

#header h2
{
	border-left: solid 1px #CCCCCC;
	color: #65B561;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: bold;
	height: 50px;
	letter-spacing: 0.2em;
	margin: 0 0 0 220px;
	padding: 20px 0 0 25px;
}

#header h3
{
	color: #44A1FB;
	font-family:  Helvetica, Arial, sans-serif;
	float: right;
	margin: 0 25px 0 0;
}

#logindisplay { position: absolute; right: 15px; top: 0px; }
#logindisplay, #logindisplay a { color: #FFF; font-size: .9em; }

#menu
{
	height: 30px;
	padding-left: 15px;
	margin-bottom: 10px;
}

#menu ul li
{
	float: left;
	list-style-type: none;
	margin: 10px 10px 0 5px;
}

#menu ul li a 
{ 
	color: #DDD;
	font-family: Helvetica, Verdana, Sans-Serif;
	font-size: .9em;
	text-decoration: none;
}

#menu ul li a:hover
{
	border-bottom: solid 2px #DDD;
}

#page
{
	border-bottom: solid 1px #CCC;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	padding: 10px;
}

#content
{
	float: left;
	width: 640px;
	font-size: 11pt;
}

#content a:link, #content a:visited, #content a:active {
	color: #006600;
}
#content a:hover
{
	text-decoration: none;
	}
	
#content table
{
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	
	border-collapse: collapse;
	text-align: left;
	}

#content table th
{
	font-size: 14px;
	font-weight: normal;
	color: #007DB1;
	padding: 10px 8px;
	border-bottom: 2px solid #007DB1;
}

#content table  td
{
	color: #007DB1;
	padding: 9px 8px 0px 8px;
}

#content table tbody tr:hover td
{
	color: #009;
}


#sidebar
{
	float: right;
	width: 250px;
}

#footer
{
	clear: both;
}




.editor-field { }
.editor-label { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em; margin: 15px 0 5px 0; 
                 }
.editor-field { 
	
  
  }
.field-validation-valid { }
.text-box { 
	width: 450px; 
	padding: 3px; 
  border: 1px solid #999999; 
	}
.single-line { }
.multi-line { height: 150px; }
.field-validation-error { background-color: #bf8888; color: #FFF; display: block; padding: 5px; width: 450px; }

.validation-summary-errors {
	color: Red;
	font-size: 10pt;
	}

#charity-sign-up #Name { }
#charity-sign-up #BackgroundInformation { }
#charity-sign-up #WorkRequested { }
#charity-sign-up #OtherInfrastructure { height: 90px; }
#charity-sign-up #OtherSupportSkills { height: 90px; }

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #007DB1;
    font-size: 10pt;
    font-weight: bold;
    
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
