/* givecamp.org.uk CSS - Gareth Barker - garethbarker.com */
/* COLOR VARIABLES ------------------------------------------ */
/* START OF RESETS ------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* default browser font size=16px. default website font size=12px. 12px/16px=0.75(em) */

  font: 0.75em Arial, Helvetica, Geneva, sans-serif;
  /* overflow-y:scroll; */

  color: #333333;
  background: black url("../content/images/bgrd_main_site.jpg") no-repeat top center;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
}
tr {
  height:30px;
}
td {
  border-bottom-color:#DFDFDF;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#E8E8E8;
  border-left-style:solid;
  border-left-width:1px;
  padding-left:11px;
  padding-right:11px;
}
/* END OF RESETS ------------------------------------------ */
/* BASIC CLEAR
------------------------------------------ */
.clear {
  clear: both;
}
/* CLEARFIX
------------------------------------------ */
* html .clearfix {
  height: 1%;
  /* IE5-6 */

}
.clearfix {
  display: inline-block;
  /* IE7xhtml*/

}
html[xmlns] .clearfix {
  display: block;
  /* O */

}
.clearfix:after {
  clear: both;
  content: ".";
  /* FF, O, etc. */

  display: block;
  height: 0;
  visibility: hidden;
}
/* FORM STYLES
------------------------------------------ */
fieldset {
  display: inline;
}
input,
select,
textarea,
password {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 130%;
}
input:focus {
  background: #fef5d7;
}
select {
  border: 1px solid #3f3f3f;
}
input[type="checkbox"] {
  margin: 0px;
  padding: 0px;
}
/* TYPE STYLES
------------------------------------------ */
h1 {
  font-size: 300%;
  color: black;
  font-weight: bold;
  line-height: 95%;
}
/* LINK STYLES
------------------------------------------ */
a, a:active, a:visited {
  text-decoration: none;
}
a:hover, a:visited:hover {
  text-decoration: underline;
}
/* NAV LINK STYLES
------------------------------------------ */
/* EVENT FULL BANNER
------------------------------------------ */

#event-full-banner { width: 340px; height: 72px; position: absolute; top: 16px; left: 300px; padding: 22px 15px 0 100px; background: url(../content/images/event_full_banner.jpg) no-repeat; font-weight: bold; color: white; }

#event-full-banner span {
  text-shadow: #262626 2px 2px 2px;
}
/* AD UNITS
------------------------------------------ */
.ad-mpu {
  width: 300px;
  height: 250px;
}
.ad-banner {
  width: 468px;
  height: 60px;
}
.ad-leaderboard {
  width: 728px;
  height: 90px;
  padding: 0px 0 0 0;
}
.ad-skyscraper {
  width: 120px;
  height: 600px;
}
.ad-super-sky {
  width: 160px;
  height: 600px;
}
/* LAYOUT
------------------------------------------ */
#wrapper {
  width: 900px;
  margin: 0 auto;
}
#column-left-360 {
  float: left;
  width: 320px;
  padding: 20px 20px 0 20px;
}
#column-right-540 {
  float: right;
  width: 460px;
  background-color: #dff3ff;
  padding: 30px;
  margin-right: 20px;
}
#header {
  width: 900px;
  position: relative;
  height: 153px;
  padding-top: 10px;
}
#logo {
  float: left;
  text-indent: -10000px;
  width: 227px;
  height: 123px;
  padding-left: 5px;
}
#logo a {
  display: block;
  height: 123px;
  width: 227px;
  background: url(../content/images/give_camp_logo.gif) no-repeat;
}
#header-items {
  float: right;
  width: 573px;
}
#social-channels {
  float: right;
  width: 300px;
  height: 32px;
  padding-top: 10px;
}
#social-channels ul {
  float: right;
}
#social-channels li {
  float: right;
  text-indent: -10000px;
  padding-left: 5px;
}
#social-channels a {
  display: block;
  width: 32px;
  height: 32px;
}
#social-channels .facebook {
  background: url(../content/images/icn_32x32_facebook.png) no-repeat right;
}
#social-channels .twitter {
  background: url(../content/images/icn_32x32_twitter.png) no-repeat right;
}
#social-channels .flickr {
  background: url(../content/images/icn_32x32_flickr.png) no-repeat right;
}
#social-channels .youtube {
  background: url(../content/images/icn_32x32_youtube.png) no-repeat right;
}
#breadcrumbs {
  float: right;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 90%;
  margin-top: 70px;
}
#breadcrumbs ul {
  float: left;
  padding: 0px 10px 0px 2px;
}
#breadcrumbs li {
  float: left;
  color: white;
  padding: 8px 0px 8px 8px;
  font-weight: bold;
}
#breadcrumbs a {
  padding: 0 15px 0 0;
  color: #50a758;
  display: block;
  background: url("../content/images/brdcmb_divider.png") center right no-repeat;
  font-weight: normal;
}
#main-navigation-wrapper {
  background-color: #262626;
}
#main-navigation {
  width: 900px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  background: #333333 url(../content/images/tile_main_nav.jpg) top repeat-x;
  font-size: 120%;
  -moz-box-shadow: 0 0 10px #141414;
  -webkit-box-shadow: 0 0 10px #141414;
  box-shadow: 0 0 10px #141414;
  text-shadow: #262626 2px 2px 2px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}
#main-navigation a, #main-navigation a:active, #main-navigation a:visited {
  color: white;
}
#main-navigation dl {
  float: left;
}
#main-navigation dd {
  float: left;
}
#main-navigation dd a {
  display: block;
  padding: 8px 12px 8px 12px;
  background: url(../content/images/divider_main_nav.gif) right repeat-y;
}
#main-navigation dd a:hover, #main-navigation dd a:visited:hover {
  background: #1a1a1a url(../content/images/tile_main_nav_hover.jpg) no-repeat right top;
  text-decoration: none;
}
#main-navigation dd:first-child a:hover {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
}
#donate-button {
  float: right;
}
#donate-button a {
  display: block;
  padding: 8px;
}
#sub-wrapper {
  background-color: #262626;
  -moz-box-shadow: 0px 0px 10px #141414;
  -webkit-box-shadow: 0px 0px 10px #141414;
  box-shadow: 0px 0px 10px #141414;
  position: relative;
  z-index: 5;
  bottom: 0px;
}
.sub-navigation {
  float: left;
  width: 588px;
  padding: 16px 0 12px 12px;
}
.sub-navigation dd {
  float: left;
  padding: 0 15px 0 0;
}
.sub-navigation dd a {
  display: block;
  color: white;
}
.social-bookmarks {
  float: right;
  width: 300px;
}
.social-bookmarks ul {
  float: right;
}
.social-bookmarks li {
  float: left;
}
.social-bookmarks li a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -10000px;
}
.social-bookmarks .facebook {
  background-image: url(../content/images/icn_32x32_facebook.png);
}
.social-bookmarks .twitter {
  background-image: url(../content/images/icn_32x32_twitter.png);
}
#feature-panel {
  position: relative;
  padding: 20px;
}
#feature-panel-image {
  float: left;
  position: absolute;
  z-index: 100;
  width: 320px;
  height: 170px;
  background-color: #00699c;
}
#feature-panel-content {
  float: right;
  width: 520px;
  right: 0;
  top: 0;
}
#feature-panel h1 {
  color: white;
}
#feature-panel p {
  color: #cccccc;
  padding-top: 10px;
}
.content-module {
  background: #262626 url("../content/images/tile_module_divider.gif") top repeat-x;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.content-module:first-child {
  background-image: none;
}
.content-module h2 {
  display: block;
  position: relative;
  z-index: 2;
  left: -20px;
  padding: 8px;
  background: #0a3657 url("../content/images/tile_module_heading.jpg") top repeat-x;
  text-align: right;
  color: white;
  font-size: 90%;
  width: 200px;
  -moz-box-shadow: 0 0 10px #141414;
  -webkit-box-shadow: 0 0 10px #141414;
  box-shadow: 0 0 10px #141414;
  margin-bottom: 10px;
  text-shadow: #262626 2px 2px 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-module .content {
  padding: 10px;
}
.content-module a:link, .content-module a:active, .content-module a:visited {
  color: white;
}
.content-module a:active, .content-module a:visited:hover {
  color: white;
}
.article-details {
  display: block;
  margin-bottom: 10px;
}
.article h1 {
  letter-spacing: -2px;
}
.article p {
  margin-top: 15px;
  line-height: 140%;
}
.article .article-image {
  margin-top: 15px;
}
.article-image .image-border {
  border: solid 1px #00699c;
  display: block;
  padding: 2px 2px 2px 2px;
  margin-bottom: 5px;
  background: white;
}
.article-image .image-information {
  display: block;
  font-size: 90%;
}
.article a:link, .article a:active, .article a:visited {
  text-decoration: underline;
  color: #00699c;
  font-weight: bold;
}
.article a:hover, .article a:visited:hover {
  text-decoration: none;
  color: #50a758;
}
ul#content-list {
  padding: 20px 0 20px 0 ;
}
ul#content-list li {
  width: 200px;
  margin-bottom: 5px;
  background: #0a3657 url(../content/images/btn_list_tile.jpg) repeat-x 0 top;
}
ul#content-list a {
  display: block;
  background: url(../content/images/btn_arrow_end.jpg) no-repeat 178px 6px;
  color: white;
  text-decoration: none;
}
ul#content-list a:hover {
  text-decoration: underline;
}
ul#content-list span {
  padding: 8px;
  display: block;
}
.sponsor {
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #B2D7EB;
}
.sponsor:first-child {
  padding: 0px 0 0 0;
  margin: 0px 0 0 0;
  border-top: none;
}
.sponsor-logo {
  float: left;
  width: 160px;
  padding-right: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sponsor-text {
  float: left;
  width: 280px;
  padding-left: 20px;
}
.sponsor-text p {
  padding-bottom: 10px;
}
.sponsor-link {
  display: block;
  line-height: 100%;
}
/* FORMS
------------------------------------------ */.article form #submit {
  background: url("../content/images/btn_submit.jpg") no-repeat;
  border: 0px none;
  text-indent: -10000px;
  padding: 0px;
  margin: 0px;
  display: block;
  height: 43px ;
  width: 100px ;
  cursor: pointer;
}
form#charity-signup {
  padding: 15px 0 0 0 ;
}
.editor-label {
  padding: 0 0 3px 0;
  font-weight: bold;
  font-size: 110%;
  width: 310px;
}
.editor-label span {
  padding: 0 0 3px 0;
  font-weight: bold;
  font-size: 60%;
  color: Red;
  float: right;
}
.editor-field {
  padding: 0 0 10px 0;
}
.fields {
  padding: 5px 0 0 0;
}
.editor-field input[type="text"], .editor-field input[type="password"] {
  padding: 4px;
  width: 300px;
}
.editor-field textarea {
  width: 460px;
}
.field-wrapper {
  padding: 10px 10px 20px 10px;
}
form#volunteer-signup {
  padding: 15px 0 0 0 ;
}
/* FOOTER
------------------------------------------ */
#footer {
  padding: 15px 20px 20px 20px;
}
#footer #copy-right {
  float: right;
}
#footer-divider {
  padding-top: 12px;
  border-top: 1px solid #262626;
}
dl#footer-navigation {
  float: right;
}
#footer-navigation dd {
  float: right;
}
#footer-navigation a {
  padding-left: 10px;
  color: #50a758;
}
