@{
    ViewBag.Title = "Team Administration";
}

<h2>Teams</h2>

<table>
    <thead>
        <tr>
            <td><b>Team</b></td>
            <td colspan="3"><b>Actions</b></td>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var team in ViewBag.Teams)
    {
        <tr>
            <td>@team.Name</td>
            <td>&nbsp;</td>
            <td>@Html.ActionLink("delete", "DeleteTeam", new { id = team.Id })</td>
            <td>&nbsp;</td>
            <td><a href="/teamadministration/home/edit/@team.Id">manage</a></td>
        </tr>
    } 
    </tbody>

</table>

<br />
<b>Create Team</b>


	@using (Html.BeginForm("CreateTeam", "Home"))
 {
		<fieldset>
			<label for="id">Team Name:</label>
			@Html.TextBox("teamName")

			<input type="submit" value="Create Team" />
		</fieldset>
	}