@model List<GiveCampStarterKit.Volunteer>

<table>
    <tbody>
    @foreach (var volunteer in Model) {
        <tr>
            <td>@volunteer.FirstName</td>
            <td><input type="button" value="add" class="addButton" rel="@volunteer.Id" /></td>
        </tr>
    }
    </tbody>
</table>