@model IEnumerable<GiveCampLondon.Website.Models.Charity.CharitySummaryModel>

@{
    ViewBag.Title = "Charities";
}

<h2>Charities</h2>

@foreach (var summary in Model)
{
    @Html.ActionLink(summary.Name, "Details", new { id = summary.Id }) <br />
}
