@{
    ViewBag.Title = "Information for Charities - GiveCamp UK";
}

<h1>Information For Charities</h1>
	
<p>Does your charity need a new website? Are you tired of working with inflexible spreadsheets to track donors and donations? Are you interested in spreading the word about your charity through a social presence like Twitter or Facebook but don't know how to get started?</p>
<p>GiveCamp UK could be exactly what you need.</p>
<p>GiveCamp UK will bring together teams of technology professionals who can help you to overcome the lack of finances or resources that are holding you back from your technology goals, and all of this in one weekend.</p>
<p>If your charity project is selected we'll work with you to shape it into a project that can be successfully completed during GiveCamp UK.</p>
<p>Please complete the sign up application so that we can put together a crack team of professionals who can deliver a successful project.</p>
<br />
<a href="@Url.Action("signup", "charity")">Submit your proposal</a>