@model GiveCampLondon.Website.Models.Charity.SignUpViewModel
@{
    ViewBag.Title = "SignUp";
    ViewBag.PageId = "charity-sign-up";
}
<h1>Sign Up Your Charity</h1>
<br />
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Register" />
}