@{
    ViewBag.Title = "Thanks for submitting - GiveCamp UK";
}

<h1>Thanks for reaching out!</h1>
	
<p>Thanks for signing up to GiveCamp UK 2011. One of our team will be in contact so that we can discuss your requirements and process your application further</p>
<p>If you require more information then please contact us at <a href="mailto:charity@givecamp.org.uk">chartity@givecamp.org.uk</a></p>



