@{
    ViewBag.Title = "Agenda";
}

<h2>Agenda</h2>
<p>coming soon....</p>

@section sidebar{
    <ul>
        <li>
            <h3>
                Event Resources</h2>
                <ul>
                    <li id="menuAgenda">@Html.ActionLink("Agenda", "Agenda", "Home")</li>
                    <li id="menuLocation">@Html.ActionLink("Location", "Location", "Home")</li>
                </ul>
        </li>
    </ul>
}
