@model GiveCampLondon.Website.Models.ContactUsViewModel
@{
    ViewBag.Title = "Contact-Us";
}

<h1>Contact-Us</h1>
@if (ViewBag.RequestSent != null && ViewBag.RequestSent)
{ 
    <p>Thanks for getting in contact with us - we will try and get back to you as soon as possible!</p>
}

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="contactus" />
}
