@{
    ViewBag.Title = "FAQ";
}

<h2>Frequently Asked Questions</h2>

		<p>Please read the FAQs for each specific role:</p>

		<ul>
		    <li><a href="/Home/FAQs/Charities">Charities</a></li>
		    <li><a href="/Home/FAQs/Developers">Developers</a></li>
		    <li><a href="/Home/FAQs/EventStaff">Event Staff</a></li>
		    <li><a href="/Home/FAQs/Sponsors">Sponsors</a></li>
		</ul>'

@section sidebar{
    <ul>
        <li>@Html.ActionLink("Agenda", "Agenda", "Home")</li>
        <li>@Html.ActionLink("Location", "Location", "Home")</li>
    </ul>
}