@{
    ViewBag.Title = "FAQ";
}

<h1>Frequently Asked Questions</h1>

		<p>Please read the FAQs for each specific role:</p>

		<ul>
		    <li><a href="/Home/FAQ/Charities">Charities</a></li>
		    <li><a href="/Home/FAQ/Developers">Developers</a></li>
		    <li><a href="/Home/FAQ/EventStaff">Event Staff</a></li>
		    <li><a href="/Home/FAQ/Sponsors">Sponsors</a></li>
		</ul>'