@{
    ViewBag.Title = "Home Page";
}
<h2>
    Dallas GiveCamp 2011!</h2>
<p>
    We are gearing up for the Dallas GiveCamp! If you are a developer and want to help,
    sign up. If you are a charity...you sign up too!</p>
<p>
    Lorizzle ipsizzle dolizzle sit amizzle, consectetuer adipiscing yo mamma. Nullam
    sapien velizzle, its fo rizzle volutpizzle, suscipit for sure, brizzle vizzle, its
    fo rizzle. Pellentesque we gonna chung tortizzle. Sed eros. Stuff fizzle dolor dapibus
    turpizzle tempizzle shizznit. pellentesque nibh et turpizzle. Vestibulum izzle tortor.
    Gangsta mammasay mammasa mamma oo sa rhoncus fo shizzle. Izzle the bizzle habitasse
    bow wow wow dictumst. Dang dapibizzle. Im in the shizzle we gonna chung urna, pretizzle
    eu, mattis mah nizzle, eleifend phat, nunc. Stuff suscipizzle. Integer sempizzle
    velit sizzle mofo.</p>

@section sidebar{
    <ul>
        <li>
            <h3>
                Event Resources</h2>
                <ul>
                    <li id="menuAgenda">@Html.ActionLink("Agenda", "Agenda", "Home")</li>
                    <li id="menuLocation">@Html.ActionLink("Location", "Location", "Home")</li>
                </ul>
        </li>
    </ul>
}
