@{
    ViewBag.Title = "Home Page";
}
<h1>
    GiveCamp is coming.....</h1>
<p>GiveCamp was founded by Microsoft Developer Evangelist, Chris Koenig, in Dallas, Texas in 2007. His vision was to bring together passionate developers and local charitable organisations for an entire weekend, and see what would happen.</p>
<p>What happened was more than could have been expected. Over $1,000,000 worth of developer services were donated to more than 150 charities and non-profits over the next 4 years. Since then GiveCamps have popped up all over the USA.</p>
<p>And now, GiveCamp is coming <strong>to the UK</strong>.</p>
<p>If you are keen to get involved with the first international GiveCamp event, head to the Information for Volunteers page and register to join us. </p>
<br />
<iframe src="http://player.vimeo.com/video/8474638?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe><p><a href="http://vimeo.com/8474638">What is GiveCamp?</a> from <a href="http://vimeo.com/givecamp">givecamp</a> on <a href="http://vimeo.com">Vimeo</a>.</p>