@{
    ViewBag.Title = "Location";
}

<h2>Location</h2>
<p>TBC...</p>

@section sidebar{
    <ul>
        <li>
            <h3>
                Event Resources</h2>
                <ul>
                    <li id="menuAgenda">@Html.ActionLink("Agenda", "Agenda", "Home")</li>
                    <li id="menuLocation">@Html.ActionLink("Location", "Location", "Home")</li>
                </ul>
        </li>
    </ul>
}
