@{
    ViewBag.Title = "Schedule - GiveCamp UK";
}

<h1>Schedule</h1>
<br />
<br />
<table border="0">
    <tbody>
        <tr>
            <td colspan="2">
                <strong>Friday, October 21</strong>
            </td>
        </tr>
        <tr>
            <td>
                1600
            </td>
            <td>
                Doors Open
            </td>
        </tr>
        <tr>
            <td>
                1600
            </td>
            <td>
                Registration
            </td>
        </tr>
        <tr>
            <td>
                1700
            </td>
            <td>
                Kick-off Meeting<br />
                Charities present their projects and teams are introduced
            </td>
        </tr>
        <tr>
            <td>
                1800
            </td>
            <td>
               Dinner and Project Requirements Head-to-Head<br />
                Team meetings with charity over dinner to collect more info on the project
            </td>
        </tr>
        <tr>
            <td>
                2200
            </td>
            <td>
                Snacks
            </td>
        </tr>
        <tr>
            <td>
                &#160;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Saturday, October 22</strong>
            </td>
        </tr>
        <tr>
            <td>
                0800
            </td>
            <td>
                Breakfast
            </td>
        </tr>
        <tr>
            <td>
                1200
            </td>
            <td>
                Lunch
            </td>
        </tr>
        <tr>
            <td>
                1500
            </td>
            <td>
                Snack
            </td>
        </tr>
        <tr>
            <td>
                1800
            </td>
            <td>
                Dinner
            </td>
        </tr>
        <tr>
            <td>
                2200
            </td>
            <td>
                Midnight Snack
            </td>
        </tr>
        <tr>
            <td>
                &#160;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Sunday, October 23</strong>
            </td>
        </tr>
        <tr>
            <td>
               0800
            </td>
            <td>
                Breakfast
            </td>
        </tr>
        <tr>
            <td>
                1200
            </td>
            <td>
                Lunch
            </td>
        </tr>
        <tr>
            <td>
                1500
            </td>
            <td>
                Demos
            </td>
        </tr>
        <tr>
            <td>
                1630
            </td>
            <td>
                Presentation and Door Prizes
            </td>
        </tr>
        <tr>
            <td>
                1700
            </td>
            <td>
                 Prize Draw Reception and Ceremony Wrap Up
            </td>
        </tr>
    </tbody>
</table>
