@{
    ViewBag.Title = "Schedule";
}

<h1>Schedule</h1>
<br />
<br />
<table border="0">
    <tbody>
        <tr>
            <td colspan="2">
                <strong>Friday, October 21</strong>
            </td>
        </tr>
        <tr>
            <td>
                4:00 p.m.
            </td>
            <td>
                Doors Open
            </td>
        </tr>
        <tr>
            <td>
                4:00p.m - 5:00p.m
            </td>
            <td>
                Registration
            </td>
        </tr>
        <tr>
            <td>
                5:00 p.m.
            </td>
            <td>
                Kick-off Meeting<br />
                Charities present their projects and teams are introduced
            </td>
        </tr>
        <tr>
            <td>
                6:00 p.m.
            </td>
            <td>
                Dinner/Requirements<br />
                Team meetings with charity over dinner to collect more info on the project
            </td>
        </tr>
        <tr>
            <td>
                10:00p.m- 12:00a.m
            </td>
            <td>
                Snacks
            </td>
        </tr>
        <tr>
            <td>
                &#160;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Saturday, October 22</strong>
            </td>
        </tr>
        <tr>
            <td>
                8:00 a.m.
            </td>
            <td>
                Breakfast
            </td>
        </tr>
        <tr>
            <td>
                Noon:
            </td>
            <td>
                Lunch
            </td>
        </tr>
        <tr>
            <td>
                3:00 p.m.
            </td>
            <td>
                Snack
            </td>
        </tr>
        <tr>
            <td>
                6:00 p.m.
            </td>
            <td>
                Dinner
            </td>
        </tr>
        <tr>
            <td>
                10:00 p.m.
            </td>
            <td>
                Midnight Snack
            </td>
        </tr>
        <tr>
            <td>
                &#160;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Sunday, October 23</strong>
            </td>
        </tr>
        <tr>
            <td>
                8:00 a.m.
            </td>
            <td>
                Breakfast
            </td>
        </tr>
        <tr>
            <td>
                Noon:
            </td>
            <td>
                Lunch
            </td>
        </tr>
        <tr>
            <td>
                3:00 p.m. - 4:30 p.m.
            </td>
            <td>
                Demos
            </td>
        </tr>
        <tr>
            <td>
                4:30 p.m.
            </td>
            <td>
                Presentation and Door Prizes
            </td>
        </tr>
        <tr>
            <td>
                5:00 p.m.
            </td>
            <td>
                Reception
            </td>
        </tr>
        <tr>
            <td>
                7:00 p.m.
            </td>
            <td>
                Go Home!
            </td>
        </tr>
    </tbody>
</table>
