@{
    ViewBag.Title = "FAQ for Non Technical Volunteers - GiveCamp UK";
}
<h1 class="pagetitle">
    Information for Business-Focused Volunteers</h1>
    <br />
    <br />
<h2>
    I'M NOT TECHNICAL, CAN I HELP?</h2>
<p>
    Absolutely!</p>
<p>
    We are looking for business-focused professionals (marketers, sales people, and
    small business owners) who are willing to spend time with our charity stakeholders
    and share their experiences and knowledge.</p>
<p>
    We hope to be able to set up a micro-conference to include such topics as:</p>
<br />
<ul>
    <li>- Using social media to market yourself </li>
    <li>- Marketing on a shoestring </li>
    <li>- Creating a volunteer sales force</li>
</ul>
<p>
    If you have experiences or knowledge that you could impart to our charities, please
    do contact us via the <a href="@Url.Action("signup","nontechvolunteer")">business-focused volunteer sign up page</a></p>
<br />
<h2>
    DO I NEED TO AVAILABLE ALL WEEKEND?</h2>
<p>
    If you can spare the time, the GiveCamp UK team will be able to find lots of tasks
    for you to be able to help us with, but if you can only spare an hour or two we
    are looking to offer our charities your resources on Saturday October 22nd.</p>
