@{
    ViewBag.Title = "FAQ-Sponsors";
}
<h1 class="pagetitle">
    FAQ – Sponsors</h1>
    <br />
<p>
    GiveCamp events would be entirely impossible without the support and generosity
    of sponsors.</p>
<p>
    Teams of hard-working professionals working almost 48 hours straight over one weekend
    need sustenance and support to keep them complete their chosen charity project.</p>
<br />
<h2>
    WHAT DOES GIVECAMP UK NEED FROM SPONSORS?</h2>
<p>
    We're looking for generous sponsors to donate swag, software licenses, hosting space,
    stationery supplies and financial support to our event.</p>
<p>
    In addition to financial assistance, perhaps consider the following useful items:</p>
<ul>
    <li>T-Shirts</li>
    <li>Laptop Stickers</li>
    <li>Goodie-bag items for Developers</li>
    <li>Goodie-bag items for Charities</li>
    <li>Meals, Snacks and Drinks</li>
    <li>ID Badges and Printer Ink</li>
    <li>Pens, Notepads, Flip Chart Pads, Marker Pens</li>
</ul>
<br />
<h2>
    HOW CAN MY ORGANISATION FIND OUT MORE ABOUT SPONSORING GIVECAMP UK?</h2>
<p>
    If you can help us in the form of sponsorship funds or in-kind donations we would
    love to hear from you.<p>
        <p>
            You can contact the GiveCamp UK team on <a href="mailto:info@givecamp.org.uk">info@givecamp.org.uk</a></p>
