@{
    ViewBag.Title = "FAQ for Technical Volunteers - GiveCamp UK";
}
<h1 class="pagetitle">
    Information for Technical Volunteers</h1>
<br />
<br />
<h2>
    WHAT TECHNOLOGIES CAN I USE?</h2>
<p>
    GiveCamp is a technology agnostic program. Developers, designers and DBAs from all backgrounds are encouraged
    to participate.</p>
<p>
    It is highly recommended that your team adopts a technology that at least one person
    is familiar with. While GiveCamp is a great environment in which to get hands-on
    experience, the timeframe is such that learning on the job can often inhibit the
    success of your charity's project.</p>
<p>
    We will have access to licenses from a selection of 3rd party vendors, and each
    charity (that has a technical resource) will be provided with all that they need
    to keep up maintenance on their project.</p>
<br />
<h2>
    WHAT RESOURCES WILL I HAVE ACCESS TO?</h2>
<p>
    GiveCamp UK has partnered with a number of technical providers that will be able
    to supply:</p>
    <br />
<ul>
    <li>- Hosting</li>
    <li>- Electronic task planning</li>
    <li>- Version control systems (Git & TFS)</li>
</ul>
<br />
<h2>
    HOW MUCH TIME WILL I HAVE TO WORK ON MY CHARITY PROJECT?</h2>
<p>
    You will have the whole weekend.</p>
<p>
    Every project selected for GiveCamp has been chosen based on its viability. All
    projects are scoped to be completed within one weekend.</p>
<p>
    View the <a href="@Url.Action("schedule", "home")">schedule</a> to see how the weekend will break down. We hope to begin coding
    on the projects right after the kick-off meeting. After that, it is up to you how
    much time you want to put into working with your team.</p>
<p>
    Your project will need to be complete by 3pm on the Sunday.</p>
<br />
<h2>
    CAN I PICK THE TEAM I'D LIKE TO WORK WITH?</h2>
<p>
    We encourage you to bring work colleagues and friends to create your own teams,
    but equally, this is a great opportunity to meet and work with new people.</p>
<p>
    Each team will have around 6 team members.</p>
<br />
<h2>
    WHAT DO I NEED TO BRING WITH ME?</h2>
<p>
    Many GiveCampers will literally camp out over the course of the weekend. So, in
    addition to a sleeping bag, pillow and perhaps even a tent, you will need:</p>
    <br />
<ul>
    <li>- Your laptop and any software you cannot live without</li>
    <li>- Toothbrush and handy wipes</li>
    <li>- Photographic ID to enter the venue after hours</li>
</ul>
<br />
<h2>
    I'M A STUDENT, CAN I PARTICIPATE?</h2>
<p>
    We actively encourage students to participate. This is a unique experience that
    will look great on your CV.</p>
<p>
    You will be teamed with experienced professional developers and the GiveCamp UK
    team will be on hand to offer support throughout the weekend.</p>
