@{
    ViewBag.Title = "FAQ";
}
<h1>
    Frequently Asked Questions</h1>
<br />
<br />
<h2>
    WHAT IS GIVECAMP?</h2>
<p>
    GiveCamp is a weekend-long event where technology professionals including designers,
    developers and database administrators join forces with technology marketers and
    web strategists to donate their time to providing solutions for non-profit and charity
    organisations.</p>
<br />
<h2>
    HOW CAN YOU HELP?</h2>
<p>
    GiveCamp is way for you to use your skills to help others.</p>
<p>
    We've got roles for both technical and non-technical volunteers. Click the FAQs
    below to find out more about the part that you could play in GiveCamp UK.</p>
<br />
<p>
    icons will go here</p>
<p>
    Please read the FAQs for each specific role:</p>
<ul>
    <li><a href="/faq/charities">Charities</a></li>
    <li><a href="/faq/developers">Developers</a></li>
    <li><a href="/faq/eventstaff">Event Staff</a></li>
    <li><a href="/faq/sponsors">Sponsors</a></li>
</ul>
