<h2>Contributors</h2>
<div class="content">
    <ul>
        <li><a href="http://leankitkanban.com" target="_blank">LeanKitKanban</a></li>
        <li><a href="http://www.saasmadeeasy.com/" target="_blank">Saas Made Easy</a></li>
        <li><a href="http://discountasp.net" target="_blank">Discount ASP.NET</a></li>
        <li><a href="http://github.com" target="_blank">Github</a></li>
        <li><a href="http://hasbean.co.uk" target="_blank">HasBean</a></li>
        <li><a href="http://www.oreilly.com" target="_blank">O'Reilly Media</a></li>
        <li><a href="http://www.informit.com/index.aspx" target="_blank">Pearson</a></li>
        <li><a href="http://www.pluralsight-training.net/microsoft/" target="_blank">Pluralsight</a></li>
    </ul>
</div>
