<div id="footer" class="clear">
    <div id="footer-divider">
        <span id="copyright">&copy; Copyright Give Camp 2011. All rights reserved.</span>
        <dl id="footer-navigation">
            <dd><a href="@Url.Action("contact-us", "home")">Contact Us</a></dd>
        </dl>
    </div>
</div>
