<div id="social-channels" class="clearfix">
    <ul>
        <li class="facebook"><a href="http://www.facebook.com/givecampuk" target="_blank">Find
            Give Camp on Facebook - facebook.com/givecamp</a></li>
        <li class="twitter"><a href="http://twitter.com/givecampuk" target="_blank">Follow us
            on Twitter - http://www.twitter.com/givecampuk</a></li>
    </ul>
</div>
