<h1>Information For Volunteers</h1>

<p>GiveCamp UK needs your support. For one entire weekend in October we'll take on the technology wish lists of local non-profit and charity organisations, and we're looking for volunteers who can help us.</p>
<p>Our volunteers will come in all shapes and sizes – from the code junky to the n00b – and we are welcoming them all.  
<p>Bring your colleagues and work in company teams, or team up with fellow volunteers. Whether you want to do some team building with your workmates or meet new people from your community, this is going to be an incredibly rewarding way to use your skills to give back to your community.</p>


<p><a href="@Url.Action("signup", "volunteer")">Sign up to be a volunteer</a></p>