<h1>Information For Volunteers</h1>

<p>Volunteering for a GiveCamp event is an opportunity for you to use your skills to assist non-profit organizations reach their full potential.</p><br/>
<p>It is also an opportunity for you to grow as a professional, work with different people, be a mentor or be mentored. Please review the FAQ for more information.</p><br/>


<p><a href="@Url.Action("SignUp", "Volunteer")">Sign up to be a volunteer</a></p>