@{
    ViewBag.Title = "Thank You for Volunteering - GiveCamp UK";
}

<h1>Thanks for volunteering!</h1>
	
<p>Thanks for signing up to GiveCamp UK 2011. One of our team will be in contact as we get closen to the event.</p>
<p>If you require more information then please contact us at <a href="mailto:registration@givecamp.org.uk">registration@givecamp.org.uk</a></p>


