@model IEnumerable<JobRole>

@{
    ViewBag.Title = "JobRoles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Roles</h2>
<table>
<tr>
<th class="name">Name</th>
<th class="delete">Delete</th>
</tr>
@foreach (var role in Model)
{
 <tr>
 <td>@Html.ActionLink(role.Description, "JobRole", new { id = role.Id }) </td>
<td>@Html.ActionLink("delete", "DeleteRole", new { id = role.Id })</td>
</tr>
}
</table>

	@using (Html.BeginForm("AddRole", "Admin"))
 {
		<fieldset>
			<label for="id">Role Name:</label>
			@Html.TextBox("name")

			<input type="submit" value="Create Role" />
		</fieldset>
	}