@model IEnumerable<Volunteer>

@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Volunteers in this role</h2>

@foreach (var volunteer in Model)
{
    <a href="/Volunteer/Details/@volunteer.Id">@volunteer.FirstName &nbsp; @volunteer.LastName</a>
}


