@{
    ViewBag.Title = "Agenda";
}

<h2>Agenda</h2>

@section sidebar{
    <ul>
        <li>@Html.ActionLink("Agenda", "Agenda", "Home")</li>
        <li>@Html.ActionLink("Location", "Location", "Home")</li>
    </ul>
}