@model List<Sponsor>
<div class="sponsor clearfix">
@foreach (var sponsor in Model)
{
    <div class="contributor-logo">
        @{var smallLogo = @Url.Content("~/content/images/sponsors/smalllogo/" + @Model.SmallLogo);}
        <img width="90" src="@smallLogo" alt="@Model.Name" />
    </div>
}
</div>
