@model List<Sponsor>
<div class="sponsor clearfix">
    @foreach (var sponsor in Model)
    {
        <div class="sponsor-logo">
            @{var smallLogo = @Url.Content("~/content/images/sponsors/smalllogo/" + @sponsor.SmallLogo);}
            <img width="160" src="@smallLogo" alt="@sponsor.Blurb" />
        </div>
    }
</div>
