@model Sponsor
<div class="sponsor clearfix">
    <div class="sponsor-logo">
        @{var smallLogo = @Url.Content("~/content/images/sponsors/smalllogo/" + @Model.SmallLogo);}
        <img width="160" src="@smallLogo" alt="@Model.Blurb" />
    </div>
</div>
