@model Sponsor
<div class="sponsor clearfix">
	<div class="sponsor-logo">
	<img width="160" height="100" src="content/images/@Model.SmallLogo" alt="@Model.Name" />
	</div>  
	<div class="sponsor-text">
	    @Html.Raw(Model.Blurb)
	    <span class="sponsor-link">@Model.Link</span>
	</div>
</div>
