<appSettings>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="DocumentRepositoryPath" value="Documents"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="SiteName" value="GiveCamp UK"/>
  <add key="SiteEmailAddress" value="info@GiveCamp.org.uk"/>
  <add key="RegistrationsAddress" value="registrations@GiveCamp.org.uk"/>
</appSettings>