<appSettings>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="DocumentRepositoryPath" value="Documents"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="SiteName" value="London Give Camp"/>
  <add key="SiteEmailAddress" value="webmaster@GiveCamp.org.uk"/>
</appSettings>